<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @family_member.image, class: "detailed-profile" %>
</p>

<p>
  <strong>First name:</strong>
  <%= @family_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @family_member.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @family_member.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @family_member.email %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @family_member.occupation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @family_member.description %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @family_member.phone_number %>
</p>

<%= link_to 'Edit', edit_family_member_path(@family_member) %> |
<%= link_to 'Destroy', @family_member, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', family_members_path %>
